{% doc %}
  @description
  Renders an icon block that can display either an SVG icon or an uploaded image, with optional linking functionality.

  @example
  {% content_for 'block', type: 'icon', id: 'icon-svg' %}
{% enddoc %}

{% liquid
  assign icon = block.settings.icon | default: 'none'
  assign image = block.settings.image_upload
  assign custom_svg = block.settings.custom_svg | default: false
  assign size = block.settings.width
  assign link = block.settings.link
  assign open_in_new_tab = block.settings.open_in_new_tab
  assign icon_block_class = 'icon-block__media icon-block-' | append: block.id
%}

{% capture icon %}
  {% render 'icon-or-image',
    icon: icon,
    image_upload: image,
    width: size,
    class_name: icon_block_class,
    attributes: block.shopify_attributes
  %}
{% endcapture %}
{% if custom_svg %}
  {{ custom_svg }}
{% else %}
  {%- if link != blank -%}
    <a
      href="{{ link }}"
      class="text-inherit"
      {% if open_in_new_tab %}
        target="_blank" rel="noopener"
      {% endif %}
    >
      {{ icon }}
    </a>
  {%- else -%}
    {{ icon }}
  {%- endif -%}
{% endif %}

{% stylesheet %}
  .icon-block {
    display: flex;
    flex-shrink: 0;
  }

  .icon-block__media {
    height: auto;
  }
{% endstylesheet %}

{% comment %} "name": "t:names.icon", {% endcomment %}
{% schema %}
{
  "name": "t:blocks.icon.name",
  "class": "icon-block",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:blocks.icon.name",
      "info": "t:blocks.icon.settings.icon.info",
      "options": [
        {
          "value": "none",
          "label": "t:blocks.icon.settings.icon.options.none"
        },
        {
          "value": "arrow",
          "label": "t:blocks.icon.settings.icon.options.arrow"
        },
        {
          "value": "caret",
          "label": "t:blocks.icon.settings.icon.options.caret"
        },
        {
          "value": "close",
          "label": "t:blocks.icon.settings.icon.options.close"
        },
        {
          "value": "global",
          "label": "t:blocks.icon.settings.icon.options.global"
        },
        {
          "value": "heart",
          "label": "t:blocks.icon.settings.icon.options.heart"
        },
        {
          "value": "mailbox",
          "label": "t:blocks.icon.settings.icon.options.mailbox"
        },
        {
          "value": "map_point",
          "label": "t:blocks.icon.settings.icon.options.map_point"
        },
        {
          "value": "phone",
          "label": "t:blocks.icon.settings.icon.options.phone"
        },
        {
          "value": "search",
          "label": "t:blocks.icon.settings.icon.options.search"
        },
        {
          "value": "user",
          "label": "t:blocks.icon.settings.icon.options.user"
        }
      ],
      "default": "caret"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:blocks.icon.settings.image_upload.label"
    },
    {
      "type": "html",
      "id": "custom_svg",
      "label": "Custom SVG (HTML)",
      "info": "If specified, takes precedence over inline icon and image."
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:blocks.icon.settings.width.label",
      "min": 4,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:blocks.icon.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:blocks.icon.settings.open_in_new_tab.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:blocks.icon.presets.default.name",
      "category": "t:blocks.icon.presets.default.category"
    }
  ]
}
{% endschema %}
